<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--<div th:fragment="alert-error" th:object="${messages}"-->
<!--     class="alert alert-danger alert-dismissible fade show"-->
<!--     role="alert">-->
<!--    <strong><span><i class='bx bx-calendar-exclamation bx-tada'></i></span></span></strong>-->
<!--    <span th:text="${#strings.listJoin(messages.getNoRoomsMessage, ' ')}">Rooms</span>-->
<!--    <button type="button" class="close" data-dismiss="alert"-->
<!--            aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--    <div class="col-md-6 offset-md-3">-->
<!--        <button type='submit' class="btn btn-primary">Check</button>-->
<!--        <button type='reset' class="btn btn-success">Reset</button>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
