<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- ======= Footer ======= -->
<footer id="footer" th:fragment="footer">

    <div class="copyright">
        &copy; Copyright <strong><span>SJS</span></strong>. All Rights Reserved
        <div class="social-links">
            <a href="https://www.facebook.com/santana.sj/" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://github.com/SantanaSJ/OBS" class="github"><i class='bx bxl-github'></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer>
<!-- End Footer -->
</body>
</html>