<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center" th:fragment="navbar">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="index.html">Title</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" th:href="@{/}">Home</a></li>
                <!-- Better way for the search function below?               -->
                <li sec:authorize="isAnonymous()"><a class="nav-link scrollto" href="#search">Search</a></li>
                <li sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/users/search}">Search</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>

                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/users/register}" data-target=""><span>Register</span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="dropdown">
                    <a href="#"><span th:text="${session.currentUserFirstName}"></span><img
                            class="img-profile rounded-circle col-lg-1"
                            src="/images/undraw_profile_1.svg"> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <!--OR sec:authorize="isAuthenticated()" + end point -users/profile + @AuthenticatedPrincipal -->
                        <li><a th:href="@{/users/profile/{id}(id=${session.currentUserId})}">View profile</a></li>
                        <li><a th:href="@{/view-all}">View Bookings</a></li>
                        <li>
                            <form th:action="@{/users/logout}" method="post" th:hidden="true" name="logoutForm">
                                <input type="submit" value="Logout"/>
                            </form>
                            <a href="javascript: document.logoutForm.submit()">Logout</a>
                        </li>

                    </ul>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/users/login}" data-toggle="" data-target=""><span>Log in</span></a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="dropdown">
                    <a class="nav-link scrollto" href="#">Admin Panel<i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li>
                            <a th:href="@{/statistics}">Statistics</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

    </div>
</header>
<!-- End Header -->
</body>
</html>