<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head th:replace="fragments/head::head"></head>-->
<!--<body>-->
<!--&lt;!&ndash; ======= Header ======= &ndash;&gt;-->
<!--<header th:replace="fragments/navbar::navbar"></header>-->
<!--&lt;!&ndash; End Header &ndash;&gt;-->

<!--<section class="forbidden">-->
<!--    <img src="/images/access-forbidden.png" class="img-403">-->
<!--</section>-->

<!--&lt;!&ndash;======= Footer =======&ndash;&gt;-->
<!--<footer th:replace="fragments/footer::footer"></footer>-->
<!--&lt;!&ndash; End Footer &ndash;&gt;-->

<!--</body>-->
<!--</html>-->