/*!*--------------------------------------------------------------*/
/* # General*/
/*--------------------------------------------------------------*!*/
body {
    /*padding-top: 100px;*/
    font-family: "Open Sans", sans-serif;
    color: #444444;
    /*overflow:hidden;*/
}

a {
    color: white;
    text-decoration: none;
}

/*a:hover {*/
/*    color: #5ca3b4;*/
/*    text-decoration: none;*/
/*    }*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

.summary-body {
    box-shadow: 0px 2px 15px rgb(177 209 216);
    font-size: 14px;
    /*background: #afd0d9;*/
}

.main-body {
    box-shadow: 0px 2px 15px rgb(177 209 216);
    /*background: #afd0d9;*/
    /*background: linear-gradient(to right, #add4de, #cae0e6)*/
    /*background-color: #bedbe27a;*/
}

.booking-container {
    margin-top: 40px;
    padding: 50px;
    margin-left: 14px;
    margin-bottom: 85px;
}

.summary {
    padding-left: 20px;
}

/*!*--------------------------------------------------------------*/
/* # Header*/
/*--------------------------------------------------------------*!*/
/*#header {*/
/*    background: #252525;*/
/*    transition: all 0.5s;*/
/*    z-index: 997;*/
/*    !*height: 70px;*!*/
/*}*/

/*#header.fixed-top {*/
/*    background: #252525;*/
/*}*/

#header .logo {
    font-size: 30px;
    margin-left: 55px;
    /*margin: 0;*/
    /*padding: 0;*/
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    /*text-transform: uppercase;*/

}

#header .logo:hover {
    transition: all 0.3s linear;
}

/*#header .logo img {*/
/*    max-height: 40px;*/
/*}*/


/*!*--------------------------------------------------------------*/
/* # Navigation Menu*/
/*--------------------------------------------------------------*!*/

.navbar {
    padding: 0;
}

/*RESPONSIVE MENU POSITION - NOW - CENTER*/
.navbar ul {
    /*margin: 0;*/
    /*padding: 0;*/
    /*display: flex;*/
    /*list-style: none;*/
    align-items: center;
}
.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*HEIGHT OF RESPONSIVE MENU*/
    padding: 25px 15px 24px 15px;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
}

/*COLOUR */
.navbar a:hover, .navbar .navbar .navbar li:hover > a {
    background: #333b3f;
    border-radius: 0;
    color: white;
}

.img-profile {
    width: 20px;
}

.navbar .dropdown-item:active {
    background-color: #212529;
}

.navbar .dropdown a span {
    margin-right: 9px;
}


/*!*--------------------------------------------------------------*/
/* # Welcome Section*/
/*--------------------------------------------------------------*!*/
#welcome {
    width: 100%;
    height: calc(108vh - 110px);
    background: url("/images/dog-2289451_1280.jpg") top center;
    background-size: cover;
    position: relative;
}

#welcome:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 1;
    top: 0;
    left: 0;
    right: 0;
}

#welcome h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

#welcome h2 {
    color: #eee;
    margin-bottom: 30px;
    font-size: 24px;
}

#welcome .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
}

#welcome .btn-get-started:hover {
    background: #0b84a2;
    /* border-radius: 34px; */
    /*border-color: #5ca3b4;*/
}

#welcome .container {
    padding-top: 0;
}

#welcome h1 {
    font-size: 40px;
    line-height: 36px;
}

#welcome h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}


/*!*--------------------------------------------------------------*/
/* # Sections General*/
/*--------------------------------------------------------------*!*/
section {
    overflow: hidden;
    padding: 10px 0 40px;
}

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #191919;
    position: relative;
    z-index: 2;
}

/* SHADOW */
.section-title span {
    position: absolute;
    top: 30px;
    color: #f4f4f4;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

.section-title span {
    font-size: 38px;
}

/*!*--------------------------------------------------------------*/
/* # Search*/
/*--------------------------------------------------------------*!*/

/* SEARCH */
.search .container {
    margin-top: 4%;
}

.search .box {
    padding: 50px 30px;
    box-shadow: 0 2px 15px rgb(92, 163, 180);
    transition: all ease-in-out 0.3s;
}

.search .box a {
    color: #5ca3b4;
}

.search h5 {
    letter-spacing: 1px;
}


/*!*--------------------------------------------------------------*/
/* #DOG PHOTOS Section*/
/*--------------------------------------------------------------*!*/
.dog-photos {
    padding-top: 10px;
}

.dog-photos .box {
    padding: 50px 30px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    /* background-image: url("dog2.jpg"); */
}

.dog-photos .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.dog-photos .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #ed5b5b;
}

.dog-photos .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #191919;
}

.dog-photos .box p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.dog-photos .box:hover {
    background: #5ca3b4;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.dog-photos .box:hover span, .dog-photos .box:hover h4, .dog-photos .box:hover p {
    color: #fff;
}

/*!*--------------------------------------------------------------*/
/* #END DOG PHOTOS Section*/
/*--------------------------------------------------------------*!*/


/*!*--------------------------------------------------------------*/
/* # Services*/
/*--------------------------------------------------------------*!*/
.services .icon-box {
    text-align: center;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #5ca3b4;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
}

.services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
}

.services .icon-box .icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: #e9f2f4;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
}

.services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.services .icon-box h4 a {
    color: #191919;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    background: #5ca3b4;
    border-color: #5ca3b4;
    padding: 70px 20px 90px 20px;
}

.services .icon-box:hover .icon {
    background: #fff;
}

.services .icon-box:hover .icon i {
    color: #5ca3b4;
}

.services .icon-box:hover .icon::before {
    background: #74bdcf;
}

.services .icon-box:hover h4 a, .services .icon-box:hover p, .services .icon-box:hover h5 {
    color: #fff;
}

/*!*--------------------------------------------------------------*/
/* # Footer*/
/*--------------------------------------------------------------*!*/
#footer {
    background: #252525;
    padding: 0 0 0 0;
    color: #fff;
    font-size: 14px;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #262626;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #333b3f;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    border-top: 1px solid #262626;
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}
/*!*--------------------------------------------------------------*/
/* # REGISTER*/
/*--------------------------------------------------------------*!*/
/*#register {*/
/*    padding: 80px;*/
/*    padding-bottom: 105px;*/
/*}*/

#register {
    /*padding: 60px 137px;*/
    overflow: hidden;
    margin-bottom: 102px;
    margin-top: 130px;

}

/*#register h1 {*/
/*    font-size: 35px;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 2px;*/
/*    margin: 0px 0px;*/
/*    margin-bottom: 20px;*/
/*    line-height: 50px;*/
/*}*/

/*#register .container {*/
/*    margin-left: 28%;*/
/*}*/

#register .form-control {
    border: none;
    background: none;
    border-bottom: 1px solid #5ca3b4;
    border-radius: 3px !important;
    color: #000;
}

#register .form-control:focus,
#register {
    border-bottom: 1px solid #5ca3b4;
    /*border: none;*/
    /*margin: 0 auto;*/
    background: none;
    box-shadow: none;
    border-bottom: 1px solid #fff;
    color: #000;
}

#register .btn {
    background-color: #5ca3b4;
    color: white;
    border: none;
}

#register .btn:hover {
    background-color: #3f93a8;
}

#register .reg-info {
    margin-bottom: 0;
}

/*!*--------------------------------------------------------------*/
/* # LOG IN*/
/*--------------------------------------------------------------*!*/
/*#login .container {*/
/*    margin-left: 28%;*/
/*}*/

#login .btn {
    background-color: #5ca3b4;
    color: white;
    /*border: none;*/
    border-color: #5ca3b4;
}

#login .btn:hover {
    background-color: #2f93a9;
}

#login {
    /*padding: 83px 125px;*/
    overflow: hidden;
    margin-top: 130px;
    margin-bottom: 102px;
    /*padding-bottom: 102px;*/
}

#login .form-control {
    border: none;
    background: none;
    border-bottom: 1px solid #5ca3b4;
    border-radius: 3px !important;
    color: #000;
}

.btn:focus {
    box-shadow: none;
}

/*!*--------------------------------------------------------------*/
/*# PAGE NOT-FOUND*/
/*--------------------------------------------------------------*!*/

body .not-found {
    background-color: #95c2de;
}

.mainbox {
    background-color: white;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}

.err {
    color: #252525;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.bx-help-circle, .bxs-minus-circle {
    position: absolute;
    font-size: 11.5rem;
    left: 38%;
    top: 15%;
    color: #252525;
}

.err2 {
    color: #252525;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

a {
    text-decoration: none;
    color: #5ca3b4;
}

a:hover {
    text-decoration: underline;
}

/*!*--------------------------------------------------------------*/
/*# 500 ERROR*/
/*--------------------------------------------------------------*!*/

/** {*/
/*    position: relative;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

.centered {
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}

/*!*--------------------------------------------------------------*/
/* #  BOOKING FORM */
/*--------------------------------------------------------------*!*/
/*.btn:focus .btn:active {*/
/*    outline: none !important;*/
/*    box-shadow: none;*/
/*}*/

.booking label, .form-control, table {
    font-size: 15px;

}

.btn:focus {
    outline: none !important;
}

.booking .btn-primary {
    color: white;
    background-color: #5ca3b4;
    border-color: #5ca3b4;

    /*padding: 2px;*/
}

.booking .btn-primary:hover {
    background-color: #2f93a9 !important;
    border-color: #5ca3b4 !important;
}

.booking .alert-success {
    margin-bottom: 0;
}

.booking .reset {
    color: white;
    background-color: #b47e5c;
    border-color: #b47e5c;

    /*padding: 2px;*/
}

.booking .reset:hover {
    color: white;
    background-color: #7c5841 !important;
    border-color: #7c5841 !important;

    /*padding: 2px;*/
}
/*!*--------------------------------------------------------------*/
/* # PROFILE*/
/*--------------------------------------------------------------*!*/

.user-pic {
    margin-top: 15px;
    margin-bottom: 35px;

}

.user-pic .update {
    margin-top: 35px;
}

.pet-update {
    margin-top: 200px;
}
.user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#4bbd97), to(#abdbcb));
    background: linear-gradient(to right, #5ca3b4, #add4de)
}

.user-profile {
    padding: 20px 0
}

/*.card-block {*/
/*    padding: 1.25rem*/
/*}*/

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.profile-card .card-block p {
    line-height: 25px
}


/*@media only screen and (min-width: 1400px) {*/
/*    p {*/
/*        font-size: 14px*/
/*    }*/
/*}*/

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.text-muted {
    color: #919aa3 !important
}

.f-w-600 {
    font-weight: 600
}

/*.m-b-10 {*/
/*    margin-bottom: 10px*/
/*}*/

/*.m-t-40 {*/
/*    margin-top: 20px*/
/*}*/

/*.col-xl-6 {*/
/*    width: 60%;*/
/*}*/

.profile-card .btn-primary {
    color: white;
    background-color: #5ca3b4;
    border-color: #5ca3b4;
}

.profile-card .reset {
    color: white;
    background-color: #b47e5c;
    border-color: #b47e5c;
}

.profile-card .reset:hover {
    color: white;
    background-color: #7c5841 !important;
    border-color: #7c5841 !important;
}


.profile-card .btn-primary:hover {
    background-color: #2f93a9;
}


/*!*--------------------------------------------------------------*/
/*# UPDATE PROFILE*/
/*--------------------------------------------------------------*!*/

.profile-card .card-block label {
    line-height: 25px
}

/*!*--------------------------------------------------------------*/
/* # MANAGE USERS*/
/*--------------------------------------------------------------*!*/

.users .btn-primary {
    color: white;
    background-color: #5ca3b4;
    border-color: #5ca3b4;
    padding: 2px;
}

.users .btn-primary:hover {
    background-color: #2f93a9;
}

.users form {
    display: inline;
}

.users-success {
    margin-left: 3rem !important;
}


.padding {
    margin-top: 130px;
    /*margin-bottom: 130px;*/
    margin-bottom: 130px;
    overflow: hidden;
}

/*!*--------------------------------------------------------------*/
/* # VIEW-ALL */
/*--------------------------------------------------------------*!*/

#table-container .btn-primary {
    color: white;
    background-color: #5ca3b4;
    border-color: #5ca3b4;
    padding: 2px;
}

#table-container .btn-primary:hover {
    background-color: #2f93a9;
}

.all {
    padding: 63px;
    margin-top: 50px;
    margin-bottom: 204px;
}

/*!*--------------------------------------------------------------*/
/* # HOME*/
/*--------------------------------------------------------------*!*/
#output .booking-btn {
    color: white;
    background-color: #5ca3b4;
    border-color: #5ca3b4;
    /*padding: 2px;*/
}

#output .booking-btn:hover {
    background-color: #2f93a9;
}

.search .paws {
    width: 70px;
    transform: rotate(70deg);
    margin-bottom: 13px;
}

.search-btn {
    /* width: 250px;
    height: 60px; */
    color: white;
    background-color: #5ca3b4;
    border-color: #5ca3b4;
}

.search-btn:hover {
    color: white;
    background-color: #2f93a9;
    border-color: #6db7c8;
}

#home {
    /*padding: 82px 125px;*/
    overflow: hidden;
    margin-top: 41px;
    margin-bottom: 113px;
}


/*!*--------------------------------------------------------------*/
/* # CREATE-BOOKING*/
/*--------------------------------------------------------------*!*/


/*!*--------------------------------------------------------------*/
/* # DETAILS*/
/*--------------------------------------------------------------*!*/
.booking-details .btn-primary {
    color: white;
    background-color: #5ca3b4;
    border-color: #5ca3b4;
    /*padding: 2px;*/
}

.booking-details .btn-primary:hover {
    background-color: #2f93a9;
}

.discount-info {
    background: #f4d781;
    box-shadow: 0px 2px 15px rgb(177 209 216);
}

.alert-msg {
    margin-left: 20px;
}

.alert-danger {
    box-shadow: 0px 2px 15px rgb(177 209 216);
}


.booking-container-details .alert-danger a {
    color: #5ca3b4;
    font-size: 13px;
}

.booking-container-details .alert-danger a:hover {
    text-decoration: underline;
    color: #5ca3b4;
}


/*!*--------------------------------------------------------------*/
/* # MANAGE ALL BOOKINGS*/
/*--------------------------------------------------------------*!*/

.users a {
    color: #2d96af;
}

.manage-all {
    padding-top: 62px;
    padding-bottom: 12px;
    margin-bottom: 207px;
}

/*!*--------------------------------------------------------------*/
/* # STATS*/
/*--------------------------------------------------------------*!*/

.stats {
    padding: 50px;
    margin-bottom: 40px;
}

/*!*--------------------------------------------------------------*/
/* # BOOKING-UPDATE*/
/*--------------------------------------------------------------*!*/
.update {
    margin-bottom: 50px;
    margin-top: 60px;
}

.booking-container .update .summary-body .col-6 {
    width: 49%;

}

/*!*--------------------------------------------------------------*/
/* # PAGINATION */
/*--------------------------------------------------------------*!*/
.pagination a {
    color: #0d6efd;
}

.pagination a:hover {
    color: #0d6efd;
}

.pagination {
    height: 2em;
}

.pagination .col {
    height: 2em;
}

.pagination .page-item:hover {
    background-color: #e2e2e240;
}

/*!*--------------------------------------------------------------*/
/* # 403 */
/*--------------------------------------------------------------*!*/
.forbidden {
    padding: 0 0 0px;
}

.img-403 {
    background: url("/images/access-forbidden.png");
    width: 100%;
    height: calc(108vh - 110px);
}

/*!*--------------------------------------------------------------*/
/* # UPLOAD */
/*--------------------------------------------------------------*!*/

.wrapper .mb-5 p {
    margin-left: 92px;
}

.wrapper {
    padding: 5em;
}


/*!*not working*!*/
/*@media (max-width: 992px) {*/
/*    .album-title {*/
/*        display: none;*/
/*    }*/
/*}*/

/*@media (max-width: 1024px) {*/
/*    .title-wrapper .col-4 {*/
/*        width: 40%;*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .title-wrapper .img {*/
/*        margin-left: 6em;*/
/*    }*/
/*}*/

/*@media (max-width: 425px) {*/
/*    .title-wrapper .img {*/
/*        margin-left: 2em;*/
/*    }*/
/*}*/

/*@media (max-width: 375px) {*/
/*    .title-wrapper .img {*/
/*        margin-left: 1em;*/
/*    }*/
/*}*/

/*@media (max-width: 320px) {*/
/*    .title-wrapper .img {*/
/*        margin-left: 7px;*/
/*    }*/
/*}*/

.add-content-wrapper input {
    margin: 2px;
}

.add-content-wrapper label {
    margin-right: 40px;
}

.add-content-wrapper td {
    width: 26em;
}

.add-content-wrapper .form-control .image {
    border: none;
}

.save-image {
    background-color: #5ca3b4;
    color: white;
    border: none;
}

.add-content-wrapper .btn:hover {
    background-color: #3f93a8;
}

tr.space > td {
    padding-bottom: 1em;
}

/*!*--------------------------------------------------------------*/
/* # Photos */
/*--------------------------------------------------------------*!*/

.manage-all .card img {
    object-fit: scale-down;
}

.manage-all .row-cols-1 {
    margin-left: 37px;
}

/*!*--------------------------------------------------------------*/
/* # PAYMENT */
/*--------------------------------------------------------------*!*/

#payment-form .form-group .font-weight-medium {
    margin-top: 25px;
    margin-bottom: 25px;
}

#payment-form #email {
    margin-top: 25px;
}

.container .p-0 .d-flex {
    padding: 0.5rem 1rem;
}

#payment-form .pt-2 {
    margin-top: 20px;
}

.container .col-md-6 .fw-bold {
    font-size: 15px;
}

/*!*--------------------------------------------------------------*/
/* # HISTORY DETAILS */
/*--------------------------------------------------------------*!*/

.booking-container-details {
    margin-top: 40px;
    padding: 50px;
    margin-left: 70px;
    margin-bottom: 85px;
}

.booking-container-details span {
    font-size: 13px;
}

.booking-container-details p {
    font-size: 13px;
}

/*.booking-container-details .table-responsive-sm {*/
/*    font-size: 14px;*/
/*}*/

.col-sm-10 {
    margin-right: 22px;
}

#map {
    overflow: no-display;
    position: sticky;
}
