<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->


<section class="manage-all">
    <div class="row justify-content-center">
        <div class="col-xl-11">
            <div class="padding">
                <div class="card-header">
                    View Bookings History
                </div>

                <div>
                    <div class="table-responsive-sm">
                        <table class="table table-hover users">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">
                                    <a th:href="@{'/admin/bookings-history/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                                        First name</a>
                                </th>
                                <th scope="col">
                                    <a th:href="@{'/admin/bookings-history/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                                        Last name</a>
                                </th>
                                <th scope="col">Hotel name</th>
                                <th scope="col">
                                    <a th:href="@{'/admin/bookings-history/page/' + ${currentPage} + '?sortField=checkIn&sortDir=' + ${reverseSortDir}}">
                                        Check in</a>
                                </th>
                                <th scope="col">
                                    <a th:href="@{'/admin/bookings-history/page/' + ${currentPage} + '?sortField=checkOut&sortDir=' + ${reverseSortDir}}">
                                        Check out</a>
                                </th>
                                <th scope="col">
                                    Booking Status
                                </th>
                                <th scope="col">Total price</th>
                                <th scope="col">Total nights</th>
                                <th scope="col">Payment status</th>
                                <th scope="col">Actions</th>

                            </tr>
                            </thead>
                            <tbody id="table-container">

                            <tr th:if="${content}" th:each="b : ${content}">
                                <th scope="row" th:text="*{b.bookingId}">1</th>
                                <td th:text="*{b.firstName}">x</td>
                                <td th:text="*{b.lastName}">x</td>
                                <td th:text="*{b.hotelName}">x</td>
                                <td th:text="${#temporals.format(b.checkIn, 'dd-MM-yyyy')}">x</td>
                                <td th:text="${#temporals.format(b.checkOut, 'dd-MM-yyyy')}">x</td>
                                <td th:if="*{b.cancelled == true}">Cancelled</td>
                                <td th:if="*{b.cancelled == false}">Completed</td>
                                <td th:text="*{b.totalPrice}">x</td>
                                <td th:text="*{b.totalNights}">x</td>
                                <td th:text="*{b.paymentStatus}">x</td>
                                <td>
                                    <form th:method="GET" th:action="@{/admin/history-details/{id}(id=*{b.bookingId})}">
                                        <button class="btn btn-sm" type="submit" data-toggle="tooltip"
                                                data-placement="top" title="Details">
                                            <i class='bx bxs-edit bx-md' style="color: #5ca3b4"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <th:block th:if="${noContent}">
                            <h5>
                                <span th:text="${noContent.getMessage()}"></span>
                            </h5>
                        </th:block>

                        <div th:if="${totalPages > 1}">
                            <div class="row col-sm-4 pagination text-center">
                                <div class="col pt-1">
                                    Pages: [[${totalItems}]]
                                </div>
                                <div class="col page-item pt-1" th:each="i: ${#numbers.sequence(1, totalPages)}">

                                    <a class="w-25 p-0" th:if="${currentPage != i}"
                                       th:href="@{'/admin/bookings-history/page/' + ${i}}">[[${i}]]</a>
                                    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;

                                </div>
                                <div class="col-sm-2 page-item pt-1">
                                    <a th:if="${currentPage < totalPages}"
                                       th:href="@{'/admin/bookings-history/page/' + ${currentPage + 1}}"
                                       class="p-0">Next</a>
                                    <span th:unless="${currentPage < totalPages}">Next</span>
                                </div>

                                <div class="col-sm-2 page-item pt-1">
                                    <a th:if="${currentPage < totalPages}"
                                       th:href="@{'/admin/bookings-history/page/' + ${totalPages}}"
                                       class="p-0">Last</a>
                                    <span th:unless="${currentPage < totalPages}">Last</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->

<script src="/js/tooltip.js"></script>

</body>
</html>