<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head::head"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->

<main>
    <section class="all">
        <div class="page-content page-container" id="page-content">


            <div>
<!--                /*@thymesVar id="successMsg" type=""*/-->
                <div th:if="${successMsg}"
                     class="alert alert-success alert-dismissible fade show col-7 users-success"
                     role="alert">
                    <strong><span><i class='bx bx-calendar-exclamation bx-tada'></i></span></strong>
                    <span th:text="${successMsg.getMessage()}">text</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close">
<!--                        <span aria-hidden="true">&times;</span>-->
                    </button>
                </div>
                <!--/*@thymesVar id="successMsgRemove" type=""*/-->
                <div th:if="${successMsgRemove}"
                     class="alert alert-success alert-dismissible fade show col-7 users-success"
                     role="alert">
                    <strong><span><i class='bx bx-calendar-exclamation bx-tada'></i></span></strong>
                    <span th:text="${successMsgRemove.getMessage()}">text</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close">
                        <!--                        <span aria-hidden="true">&times;</span>-->
                    </button>
                </div>
                <div th:if="${successMsgRemoveUser}"
                     class="alert alert-success alert-dismissible fade show col-7 users-success"
                     role="alert">
                    <strong><span><i class='bx bx-calendar-exclamation bx-tada'></i></span></strong>
                    <span th:text="${successMsgRemoveUser.getMessage()}">text</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close">
                    </button>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-11">
                        <div class="card-header">
                            View All Users
                        </div>

                        <div>
                            <div class="table-responsive-sm">
                                <table class="table table-hover users">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">
                                            <a th:href="@{'/admin/manage-users/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                                                First name</a>
                                        </th>
                                        <th scope="col"><a
                                                th:href="@{'/admin/manage-users/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                                            Last name</a></th>
                                        <th scope="col">email</th>
                                        <th scope="col">Number of bookings</th>
                                        <th scope="col">Roles</th>
                                        <th scope="col">Date joined</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table-container">
                                    <tr th:each="user : ${allUsers}">
                                        <th scope="row" th:text="*{user.id}">1</th>
                                        <td th:text="*{user.firstName}">x</td>
                                        <td th:text="*{user.lastName}">x</td>
                                        <td th:text="*{user.email}">x</td>
                                        <td th:text="*{user.numberOfBookings}">x</td>
                                        <td th:text="${#strings.listJoin(user.getRoles(), ', ')}">x</td>
                                        <td th:text="${#temporals.format(user.joined, 'dd-MM-yyyy')}">x</td>
                                        <td>
                                            <th:block th:if="${!#lists.contains(user.getRoles(), 'ADMIN')}">
                                                <form th:action="@{/admin/manage-users/add-admin(email=*{user.email})}"
                                                      th:method="PATCH">
                                                    <button class="btn btn-sm" type="submit" data-toggle="tooltip"
                                                            data-placement="top" title="Make Admin">
                                                        <i class='bx bxs-file-plus bx-md' style="color: #5ca3b4"></i>
                                                    </button>
                                                </form>
                                            </th:block>

                                            <th:block th:if="${#lists.contains(user.getRoles(), 'ADMIN')}">
                                                <form th:action="@{/admin/manage-users/remove-admin(email=*{user.email})}"
                                                      th:method="PATCH">
                                                    <button class="btn btn-sm" type="submit" data-toggle="tooltip"
                                                            data-placement="top" title="Remove Admin Role">
                                                        <i class='bx bxs-folder-minus bx-md' style="color: #dc3545"></i>
                                                    </button>
                                                </form>
                                            </th:block>
                                            <form th:action="@{/admin/manage-users/remove-user(email=*{user.email})}"
                                                  th:method="POST">
                                                <button class="btn btn-sm" type="submit" data-toggle="tooltip"
                                                        data-placement="top" title="Remove User"><i
                                                        class='bx bxs-user-x bx-md' style="color: #dc3545"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                                <th:block th:if="${noContent}">
                                    <h5>
                                        <span th:text="${noContent.getMessage()}"></span>
                                    </h5>
                                </th:block>

                                <div th:if="${totalPages > 1}">
                                    <div class="row col-sm-4 pagination text-center">
                                        <div class="col pt-1">
                                            Pages: [[${totalItems}]]
                                        </div>
                                        <div class="col page-item pt-1"
                                             th:each="i: ${#numbers.sequence(1, totalPages)}">

                                            <a class="w-25 p-0" th:if="${currentPage != i}"
                                               th:href="@{'/admin/manage-users/page/' + ${i}}">[[${i}]]</a>
                                            <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;

                                        </div>
                                        <div class="col-sm-2 page-item pt-1">
                                            <a th:if="${currentPage < totalPages}"
                                               th:href="@{'/admin/manage-users/page/' + ${currentPage + 1}}"
                                               class="p-0">Next</a>
                                            <span th:unless="${currentPage < totalPages}">Next</span>
                                        </div>

                                        <div class="col-sm-2 page-item pt-1">
                                            <a th:if="${currentPage < totalPages}"
                                               th:href="@{'/admin/manage-users/page/' + ${totalPages}}" class="p-0">Last</a>
                                            <span th:unless="${currentPage < totalPages}">Last</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->

</body>
</html>