<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->
<main>

    <section>
        <div class="booking-container-details" th:object="${summaryBookingViewModel}">
            <div class="row">
                <div class="col-sm mb-3 fw-bold text-center">
                    Booking Summary
                </div>
                <div class="row justify-content-center">
                    <!-- col 1 -->
                    <div class="col-sm-3 border">
                        <div class="mb-2 mt-3">
                            <span class="fw-bold">First Name:</span>
                            <span class="text-muted" th:text="*{getFirstName()}">Pesho</span>
                        </div>
                        <div class="mb-2">
                            <span class="fw-bold">Last Name:</span>
                            <span class="text-muted" th:text="*{getLastName()}">Petrov</span>
                        </div>
                        <div class="mb-2">
                            <span class="fw-bold">Email:</span>
                            <span class="text-muted" th:text="*{getEmail()}">pesho@abv.bg</span>
                        </div>
                        <div class="mb-2">
                            <span class="fw-bold">Phone number:</span>
                            <span class="text-muted" th:text="*{getPhoneNumber()}">093654</span>
                        </div>
                        <div class="mb-2">
                            <span class="fw-bold">Pet Name:</span>
                            <span class="text-muted" th:text="*{getPetName()}">Bren</span>
                        </div>
                        <div class="mb-2">
                            <span class="fw-bold">Pet kg:</span>
                            <span class="text-muted" th:text="*{getPetKilograms()}">35</span>
                        </div>

                    </div>
                    <!-- col 2 -->
                    <div class="col-sm-3 border">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <div class="mb-2 mt-4">
                                    <img th:src="*{getHotelImage()}" width="90" alt="hotel image">
                                </div>
                            </div>
                            <div class="mb-2">
                                <span class="fw-bold">Hotel:</span>
                                <span class="text-muted" th:text="*{getHotelName()}">Radisson</span>
                            </div>
                            <div class="mb-2">
                                <span class="fw-bold">Address:</span>
                                <span class="text-muted" th:text="*{getAddress()}">Address</span>
                            </div>
                            <div class="mb-2">
                                <span class="fw-bold">Phone:</span>
                                <span class="text-muted">+359 887766554</span>
                            </div>
                            <div>
                                <span class="fw-bold">Category</span>
                                <span class="col"
                                      th:each="star : ${#numbers.sequence(1, summaryBookingViewModel.category)}">
                                    <i class='bx bxs-star'></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- col 3 -->
                    <div class="col-sm-3 border">
                        <div class="mt-3">
                            <span class="fw-bold">Check in:</span>
                            <span class="text-muted"
                                  th:text="${#temporals.format(summaryBookingViewModel.checkIn, 'dd-MM-yyyy')}">>12.12.2022</span>
                        </div>
                        <div class="mb-2">
                            <span class="fw-bold">Check out:</span>
                            <span class="text-muted"
                                  th:text="${#temporals.format(summaryBookingViewModel.checkOut, 'dd-MM-yyyy')}">>13.12.2022</span>
                        </div>
                        <div class="mb-2">
                            <span class="fw-bold">Total nights:</span>
                            <span class="text-muted" th:text="*{getTotalNights()}">1</span>
                        </div>
                        <div class="mb-2">
                            <span class="fw-bold">Payment status:</span>
                            <span class="text-muted" th:text="*{paymentStatus}">paid</span>
                        </div>

                    </div>
                    <!-- col 4 -->
                    <div class="col-sm-3 border">
                        <!--                        <div>-->
                        <div class="mt-3" th:each="e, rowStat : ${summaryBookingViewModel.rooms}">
                            <th:block th:if="${e.numberOfRooms != 0}">
                                <div>
                                    <span class="fw-bold">Room type:</span>
                                    <span class="text-muted"
                                          th:text="${rowStat.current.type}"></span>
                                </div>
                                <div>
                                    <span class="fw-bold">No rooms:</span>
                                    <span class="text-muted" th:text="${rowStat.current.numberOfRooms}"></span>
                                </div>
                                <div>
                                    <span class="fw-bold">Price:</span>
                                    <span class="text-muted" th:text="${rowStat.current.price}"></span>
                                </div>
                            </th:block>
                        </div>
                        <div class="mt-3 mb-3">
                            <span class="fw-bold">Total price:</span>
                            <span class="text-muted" id="totalPrice"></span>
                            <script th:inline="javascript">
                                total();

                                function total() {
                                    /*<![CDATA[*/
                                    let hasDiscount = /*[[*{hasDiscount}]]*/ 'default';
                                    let totalPrice = /*[[*{totalPrice}]]*/ 'default';
                                    console.log(hasDiscount);
                                    console.log(totalPrice);
                                    let output;
                                    if (hasDiscount === true) {
                                        output = `${totalPrice} BGN <small><sub>(*Discount applied!)</sub></small>`
                                        // document.getElementById('totalPrice').innerHTML = output;
                                    } else {
                                        output = `${totalPrice} BGN`
                                    }
                                    document.getElementById('totalPrice').innerHTML = output;

                                    /*]]>*/
                                }
                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" style="padding: 7px">
                    <div>
                        <span class="fw-bold">Booking last updated:</span>
                        <p th:text="*{lastUpdated == null}
                            ? 'No updates made yet!'
                            : ${#temporals.format(summaryBookingViewModel.lastUpdated, 'dd-MM-yyyy, HH:mm')} + 'hrs'">
                            19.02.2020</p>
                    </div>
                </div>
                <div class="col-sm-3" style="padding: 7px">
                    <div>
                        <span class="fw-bold">Comments:</span>
                        <p th:text="${#strings.isEmpty(summaryBookingViewModel.getComments())}
                         ? 'No comments!'
                    : *{getComments()}">comments</p>
                    </div>
                </div>
                <div class="col-sm-3" style="padding: 11px">
                    <div class="form-group booking-details">
                        <form th:method="GET" th:action="@{/admin/manage/{id}(id=*{bookingId})}">
                            <button type='submit' class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- MAP -->
            <div class="row justify-content-center mt-3">
                <div class="row justify-content-center">
                    <div class="col-sm-10 text-center" id="map" style="width:100%;height:400px;">
                        <!--                        <iframe class="mb-4 mb-lg-0 rounded"-->
                        <!--                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"-->
                        <!--                                frameborder="0" style="border:0; width: 93%; height: 200px;" allowfullscreen></iframe>-->
                    </div>
                </div>
            </div>


        </div>
    </section>


</main>
<!--End #main-->

<!--======= Footer =======-->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA89q7WonzhNiDIbOqwi5CbHwpHDBXp0u4"></script>

<script th:inline="javascript">
    function initMap() {

        const lat = /*[[${summaryBookingViewModel.lat}]]*/ 'default';
        const lng = /*[[${summaryBookingViewModel.lng}]]*/ 'default';

        console.log(lng);
        console.log(lat);

        let elementById = document.getElementById("map");
        console.log(elementById);

        const coords = {
            lat: parseFloat(lat),
            lng: parseFloat(lng)
        };

        const map = new google.maps.Map(
            document.getElementById("map"), {zoom: 15, center: coords});
        const marker = new google.maps.Marker({position: coords, map: map});

    }

    initMap();
</script>

</body>
</html>

