<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->


<main id="main">

    <div class="title-wrapper">
        <div class="d-flex justify-content-center">
            <div class="col-5 text-center mt-5">
                <div class="mt-5 album-title">
                    <h2 th:text="|${userName} and ${petName}''s photo album|">Sisi & Bren's photo album</h2>
                </div>
            </div>
        </div>
    </div>

    <section class="manage-all mt-4">

        <th:block th:if="${noContent}">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-4 no-photos">
                    <h5>
                        <span class="border-bottom" th:text="${noContent.getMessage()}"></span>
                    </h5>
                </div>
            </div>

        </th:block>

        <div class="row row-cols-1 row-cols-md-3 g-4 p-4">
            <div th:each="p, rowStat : *{photoViewModels}">
                <div class="col">
                    <div class="card" style="width: 18rem; margin: 25px">

                        <img th:src="*{p.url}" class="card-img-top" height="250" width="100" alt="..." src="">
                        <div class="card-body">
                            <p th:text="*{p.notes}" class="card-text">Some quick example text to build on the card title
                                and make up the bulk of the card's content.</p>
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        &lt;!&ndash;                        <form th:action="@{/bookings/delete/{id}(id=*{bookingId})}">&ndash;&gt;-->
<!--                        <button type='submit' class="btn delete-btn btn-danger" id="delete">-->
<!--                            Delete-->
<!--                        </button>-->
<!--                        &lt;!&ndash;                        </form>&ndash;&gt;-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </section>
</main>

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->
</body>
</html>