<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>

<!--NOT USED -->
<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->
<main>
    <section>
        <div class="hotel py-2 px-2 pb-4">
            <div class="card-header w-75">
                Summary last booking
            </div>
            <div class="row">
                <div class="col-4">
                    <div>
                        <img src=""
                             height="250" width="250" alt="Hotel Image" class="hotel-img">
                    </div>
                    <span>hotel image</span>
                </div>
                <div class="col-4">

                    <div id="firstName" class="border-bottom">First name:</div>
                    <div id="lastName" class="border-bottom">Last name:</div>

                    <div id="hotelName" class="border-bottom">Hotel Name:</div>
                    <div id="cat" class="border-bottom">Category:</div>
                    <div id="city" class="border-bottom">City:</div>
                    <div id="address" class="border-bottom">Address:</div>
                    <div id="type" class="border-bottom">Type:</div>
                    <div id="checkIn" class="border-bottom">Check in:</div>
                    <div id="checkOut" class="border-bottom">Check out:</div>
                    <div id="totalNights" class="border-bottom">Total Nights:</div>
                    <div id="totalPrice" class="border-bottom">Total price:</div>
                    <div id="numberOfPeople" class="border-bottom">Number of people:</div>
                    <div class="row">
                        <div class="col-4">
                            <div id="roomType" class="border-bottom">Room Type:</div>
                        </div>
                        <div class="col-2">
                            <div id="price" class="border-bottom">Price:</div>
                        </div>
                    </div>
                    <div id="pet" class="border-bottom">Pet name:</div>
                </div>
            </div>
        </div>

        <button id="loadBookings">View All Bookings</button>
        <div class="card-header">
            <table id="tableItems"
                   class="table table-condensed table-hover table-responsive-sm width=80%">
                <thead class="thead-secondary">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Hotel</th>
                    <th>City</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="table-container"></tbody>

            </table>
        </div>
    </section>

</main>
<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->
<script src="/js/view-bookings.js"></script>

</body>
</html>