<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<!--AOS LIBRARY-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->


<main id="main">

    <!--    <input type="hidden" name="hotelId" id="hotelId">-->
    <section>

        <div class="booking-container">
            <div class="row">
                <div class="col-sm-3 p-0 summary " th:object="${accommodationViewModel}">
                    <div class="card-header">
                        Hotel Summary
                    </div>
                    <div class="summary-body p-3" data-aos="fade-up">
                        <div>
                            <span class="fw-bold">Hotel Name:</span>
                            <p th:text="*{getName()}">Interhotel Continental</p>
                        </div>
                        <div>
                            <div class="fw-bold">Category:</div>
                            <span class="col"
                                  th:each="star : ${#numbers.sequence(1, accommodationViewModel.category)}">

                                <i class='bx bxs-star'>
                                </i>
                            </span>
                        </div>

                        <div>
                            <span class="fw-bold">City:</span>
                            <p th:text="*{getCity()}">Sofia</p>
                        </div>
                        <div>
                            <span class="fw-bold">Address:</span>
                            <p th:text="*{getAddress()}">Center</p>
                        </div>
                        <div>
                            <span class="fw-bold">Check in:</span>
                            <p th:text="|*{getCheckInTime()} hrs|">18.02.2022</p>
                        </div>
                        <div>
                            <span class="fw-bold">Check out:</span>
                            <p th:text="|*{getCheckOutTime()} hrs|">19.02.2022</p>
                        </div>
                    </div>
                </div>
                <!--------------------------------- AVAILABILITY----------------------------->
                <div class="col booking">
                    <form class="" th:action="@{/room-availability}" th:method="GET" th:object="${bindingModel}">
                        <div class="card-header">
                            Check Availability
                        </div>
                        <div class="main-body p-3" data-aos="fade-up">
                            <div class="row">
                                <div class="col">

                                    <label for="checkIn" class="form-label fw-bold">Check In</label>
                                    <input
                                            th:field="*{checkIn}"
                                            class="form-control"
                                            type="date"
                                            id="checkIn"
                                            required>
                                    <div class="col-auto">
                                        <small th:if="${#fields.hasErrors('checkIn')}" th:errors="*{checkIn}"
                                               id="checkIn-Error"
                                               class="text-light form-text bg-danger rounded">xxx</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="checkOut" class="form-label fw-bold">Check out</label>
                                    <input
                                            th:field="*{checkOut}"
                                            class="form-control"
                                            type="date"
                                            id="checkOut"
                                            required>
                                    <div class="col-auto">
                                        <small th:if="${#fields.hasErrors('checkOut')}" th:errors="*{checkOut}"
                                               id="checkOut-Error"
                                               class="text-light form-text bg-danger rounded">xxx</small>
                                    </div>
                                </div>

                                <input class="form-control" name="hotelName" id="hotelName" type="hidden"
                                       th:value="${accommodationViewModel.name}">

                                <input class="form-control" name="category" id="category" type="hidden"
                                       th:value="${accommodationViewModel.category}">
                                <input class="form-control" name="city" id="city" type="hidden"
                                       th:value="${accommodationViewModel.city}">
                                <input class="form-control" name="address" id="address" type="hidden"
                                       th:value="${accommodationViewModel.address}">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-header">
                                        Room Information
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Room type</th>
                                                <th scope="col">Room description</th>
                                                <th scope="col">Room price per night</th>
                                                <th scope="col">No. of rooms</th>
                                                <!--                                    <th scope="col">No. of people *</th>-->
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr th:each="room, rowStat : ${accommodationViewModel.getRooms()}">
                                                <th scope="row" th:text="${rowStat.count}" name="index"></th>
                                                <td th:text="${rowStat.current.type}" name="type"></td>
                                                <td th:text="${rowStat.current.description}" name="description"></td>

                                                <!--                                        GET HOTEL ID -->

                                                <input class="form-control" name="hotelId" id="hotelId" type="hidden"
                                                       th:value="${accommodationViewModel.getId()}"/>

                                                <!--                                        Get ROOM ID-->
                                                <input th:value="${rowStat.current.id}" name="roomId" type="hidden"/>

                                                <!--                                        PRICE-->
                                                <!-- <td th:text="${#numbers.formatCurrency(room.price)}"></td>-->
                                                <td th:text="|${room.price} BGN|"></td>
                                                <input class="form-control" name="price" id="price" type="hidden"
                                                       th:value="${room.price}"/>

                                                <td>
                                                    <!--                                    GET NUMBER OF ROOMS FOR EACH ROOM-->
                                                    <label for="numberOfRooms"></label>
                                                    <select name="numberOfRooms" id="numberOfRooms"
                                                            th:field="*{rooms[__${rowStat.index}__].numberOfRooms}">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                    <label for="type"></label>
                                                    <input th:value="${accommodationViewModel.getRooms()[__${rowStat.index}__].getType()}"
                                                           name="type"
                                                           id="type"
                                                           hidden="hidden"
                                                           type="text"/>
                                                    <div>
                                                        <small class="col-auto"
                                                               th:if="${#fields.hasErrors('*{rooms[__${rowStat.index}__].numberOfRooms}')}"
                                                               th:errors="*{rooms[__${rowStat.index}__].numberOfRooms}"
                                                               id="numberOfRoms-Error">
                                                        </small>
                                                    </div>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">

                                <div th:if="${messages}"
                                     class="alert alert-danger alert-dismissible fade show"
                                     role="alert">
                                    <strong><span><i class='bx bx-calendar-exclamation bx-tada'></i></span>
                                    </strong>
                                    <span th:text="${#strings.listJoin(messages.getNoRoomsMessage, ' ')}">Rooms</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close">
                                        <!--                                        <span aria-hidden="true">&times;</span>-->
                                    </button>
                                </div>
                                <div th:if="${successMessage}"
                                     class="alert alert-success alert-dismissible fade show"
                                     role="alert">
                                    <strong><span><i class='bx bx-calendar-exclamation bx-tada'></i></span></strong>
                                    <span th:text="${#strings.listJoin(successMessage.getSuccessMessage, ' ')}">Rooms</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close">
                                        <!--                                        <span aria-hidden="true">&times;</span>-->
                                    </button>
                                </div>
                                <div th:unless="${successMessage}" class="ln_solid">
                                    <div class="form-group">
                                        <div class="p-4 text-center" id="check">
                                            <button type='submit' class="btn btn-primary">Check</button>
                                        </div>
                                    </div>
                                </div>

                                <div th:if="${successMessage}" class="ln_solid">
                                    <div class="form-group">
                                        <div class="p-4 text-center">
                                            <span>
                                                <a th:href="@{/create-booking}"
                                                   class="btn btn-primary">Proceed</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->
<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->

<script src="/js/aos.js"></script>
<!--<script src="/js/booking-form.js"></script>-->

</body>

</html>