<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>


<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->

<body>

<main id="main">

    <section id="home">
        <div class="px-1 px-sm-5 mx-auto mb-5">
            <form autocomplete="off">
                <div class="d-flex justify-content-center">
                    <div class="col-sm-6 mb-2">
                        <div class="search">
                            <div class="d-flex justify-content-center">
                                <img class="paws" src="/images/giphy.gif"/>
                            </div>
                            <input id="Search_Property" type="text" class="form-control"
                                   placeholder="Search for a hotel">
                        </div>
                        <br/>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn search-btn" id="showAll">Show All</button>
                        </div>
                    </div>


                </div>
            </form>
        </div>
<!--     <section>-->
        <div class="row justify-content-center">
            <div class="col-xl-11">

                <div>
                    <div class="row" id="output">
                        <div class="bg-white p-2" id="load-hotels">


                            <script type="text/javascript" th:inline="javascript">

                                document.getElementById('showAll').addEventListener('click', showAll);

                                function showAll() {
                                    //https://bookitpets.herokuapp.com/accommodations
                                    // http://localhost:8080/accommodations
                                    fetch('https://bookitpets.herokuapp.com/accommodations')
                                        .then(response => {
                                            return response.json()
                                        })
                                        .then((data) => {
                                            console.dir(data)

                                            let output = '<h2 style="padding-left: 12px"> Search Results </h2>'

                                            data.forEach(function (hotel) {
                                                // console.dir(hotel)
                                                output += `
                                    <div class="hotel pb-4 border-bottom">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-3">
                                                <img src= ${hotel.imageUrl}
                                                    height="200" width="250" alt="" class="hotel-img rounded">
                                            </div>
                                            <div class="col-sm-2">
                                                <div>
                                                    <div class="fw-bold">${hotel.name}</div>
                                                </div>
                                                <small class="rating text-muted">Category: ${hotel.category}</small>
                                                <div class="row">
                                                    <small class="col fw-light text-muted">${hotel.address}</small>
                                                </div>

                                                <div class="row">
                                                <small class="col fw-light text-muted">${hotel.city}, ${hotel.postalCode}</small>
                                                </div>
                                                 <div class="row">
                                                 <small class="col fw-light text-muted">${hotel.type}</small>
                                                 </div>
                                          </div>
                                           <div class="col-sm-4">
                                           <style>
                                           .col-lg-4 {
                                           margin-right: 14px;
                                           width: 31%;}
                                            </style>
                                              <div class="d-md-flex align-items-md-center">
                                              <div class="fw-bold">Description</div>

                                              </div>
                                              <small class="text-muted">${hotel.description}</small>

                                           </div>
                                            <div class="col-sm-3 id="map" data-hotel-lat='${hotel.lat}' data-hotel-lng='${hotel.lng}'>
                                            <iframe class="mb-4 mb-lg-0 rounded" src="https://www.google.com/maps/embed/v1/place?key=API_KEY=Best+Western+Premier+Sofia+Airport+Hotel,Sofia+Bulgaria" frameborder="0" style="border:0; width: 90%; height: 200px;" allowfullscreen></iframe>
                                            </div>
                                        </div>
<!--                                        Book Now button -->
                                        <div class="d-flex justify-content-end mt-4 px-4">
                                            <button class="btn btn-primary booking-btn" data-hotel-id='${hotel.id}'>Book Now</button>
                                        </div>
                                    </div>`;
                                            });

                                            document.getElementById('output').innerHTML = output
                                        })
                                }

                                $('body').on('click', '.btn-primary', function () {
                                    console.log(this)
                                    // const hotelId = $(this).data('hotel-id')
                                    const hotelId = $(this).attr('data-hotel-id')
                                    window.location.href = 'booking-form/accommodation/' + hotelId;
                                })
                                console.log("visible");

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->

<script src="/js/search.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=API_KEY"></script>


</body>

</html>
