<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

  <!-- ======= Header ======= -->
  <header th:replace="fragments/navbar::navbar"></header>
  <!-- End Header -->


  <!-- ======= Welcome Section ======= -->
  <section id="welcome" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to Title</h1>
      <h2>Search</h2>
      <a href="#search" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section>
  <!-- End welcome -->

  <main id="main">

    <!-- ======= SEARCH Section ======= -->
    <section id="search" class="search">

      <div class="container">
        <div class="d-flex justify-content-center">
          <img class="paws" src="/images/giphy.gif" />
        </div>
        <div class="d-flex justify-content-center">

          <div class="col-lg-6 order-1 order-lg-2">

            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control typehead" id="search-text" name="search-text"
                placeholder="Search for a Hotel, Address, City" autofocus="true" />
              <br />
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-danger search-btn">Search Hotels</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- End Search Section -->

    <!-- ======= DOG PHOTOS Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
              <img src="images/dog2.jpg" class="center" />
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <img src="images/dog3.jpg" class="center" />
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <img src="images/dog4.jpg" class="center" />
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- DOG PHOTOS Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-bone'></i></div>
              <h4><a href="#search">Book a pet-friendly hotel</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up"
            data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-bone'></i></div>
              <h4><a href="">Check for a pet-friendy restaurants</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-bone'></i></div>
              <h4><a href="">Save your photos</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Services Section -->

   </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer th:replace="fragments/footer::footer"></footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

</body>

</html>