<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head::head"></head>

    <!--AOS LIBRARY-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>



<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->

<!-- ======= Welcome Section ======= -->
<section id="welcome" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up">
        <h1>Welcome to BookIt</h1>
        <h2>Search</h2>
        <a href="#search" class="btn-get-started">Get Started</a>
    </div>
</section>
<!-- End welcome -->

<main id="main">
    <!-- ======= SEARCH Section ======= -->
    <section id="search" class="search" data-aos="fade-up">

        <div class="container">
            <!--                    <div class="d-flex justify-content-center">-->
            <!--                      <img class="paws" src="/images/giphy.gif" />-->
            <!--                    </div>-->
            <div class="pt-5">
                <div class="d-flex justify-content-center">
                    <div class="p-5 col-8 box">
                        <h5><a th:href="@{/users/login}">Join</a> our community today and gain access to large variety
                            of places to stay, play and eat together with your pet!
                            <br>
                            <p class="mt-4">Make the most of your stay and make sure your best friend is never left home
                                alone!</p>
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Search Section -->

    <!-- ======= DOG PHOTOS Section ======= -->
    <section id="dog-photos" class="dog-photos pb-5">
        <div class="container">

            <div class="row">

                <div class="col-lg-4" data-aos="fade-right">
                    <div class="box">
                        <img src="images/dog2.jpg" class="center"/>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-down">
                    <div class="box">
                        <img src="images/dog3.jpg" class="center"/>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0"  data-aos="fade-left" >
                    <div class="box">
                        <img src="images/dog4.jpg" class="center"/>
                    </div>
                </div>

            </div>
        </div>
    </section>
        <!--  END DOG PHOTOS Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <span>Services</span>
                    <h2>Services</h2>
                    <p>By joining our site you will be able to:</p>
                </div>

                <div class="row mb-5 justify-content-center" data-aos="fade-up">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" >
                        <div class="icon-box">
                            <div class="icon"><i class='bx bx-bone'></i></div>
                            <h4><a href="#search">Book a pet-friendly hotel</a></h4>
                            <p>Book a hotel where for you and your four-legged friend</p>
                        </div>
                    </div>

    <!--                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up"-->
    <!--                     data-aos-delay="150">-->
    <!--                    <div class="icon-box">-->
    <!--                        <div class="icon"><i class='bx bx-bone'></i></div>-->
    <!--                        <h4><a href="">Check for a pet-friendy restaurants</a></h4>-->
    <!--                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>-->
    <!--                    </div>-->
    <!--                </div>-->

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up">
                        <div class="icon-box">
                            <div class="icon"><i class='bx bx-bone'></i></div>
                            <h4><a href="">Save your photos</a></h4>
                            <p>Save photos from your trips and access them whenever you want</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Services Section -->
</main>
<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->

<script src="/js/aos.js"></script>

</body>
</html>
