<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->
<main>
    <section id="login">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            Log in
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-body border">
                        <div th:if="${bad_credentials}" class="alert alert-danger" role="alert">
                            This username and password combination does not exist.
                        </div>
                        <form id="my-form" name="form" novalidate th:action="@{/users/login}" method="POST">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    E-mail address:
                                </div>
                                <div class="col-md-6 mb-4">
                                    <input th:value="${email}" type="email" id="email_address" class="form-control"
                                           name="email" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col col-md-4">
                                    Password:
                                </div>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password"
                                           placeholder="Password" required>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6 offset-md-6">
                                    <button type="submit" class="btn btn-primary" id="submit">
                                        Log in
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<!--======= Footer =======-->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->

</body>
</html>