<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->
<main>
    <section id="login">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            Log in
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="card-body border">
                        <div th:if="${bad_credentials}" class="alert alert-danger" role="alert">
                            This username and password combination does not exist.
                        </div>
                        <form id="my-form" name="form" th:action="@{/users/login}" method="POST">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    E-mail address:
                                </div>
                                <div class="col-md-6 mb-4">
                                    <input th:value="${email}" type="email" id="email_address" class="form-control"
                                           name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col col-md-4">
                                    Password:
                                </div>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password"
                                           placeholder="Password">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6 offset-md-6">
                                    <button type="submit" class="btn btn-primary" id="submit">
                                        Log in
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!--            <div class="row justify-content-center">-->
        <!--                <div class="col-md-8">-->
        <!--                    <div class="card">-->
        <!--                        <div class="card-header">Log in</div>-->
        <!--                        <div class="card-body">-->
        <!--                            <div class="row g-3 align-items-center">-->
        <!--                                <div th:if="${bad_credentials}" class="alert alert-danger" role="alert">-->
        <!--                                    This username and password combination does not exist.-->
        <!--                                </div>-->
        <!--                                <form id="my-form" name="form"-->
        <!--                                      th:action="@{/users/login}"-->
        <!--                                      method="POST">-->
        <!--                                    <div class="form-group row">-->
        <!--                                        <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail-->
        <!--                                            Address</label>-->
        <!--                                        <div class="col-md-6 mb-3">-->
        <!--                                            <input th:value="${email}"-->
        <!--                                                   type="email"-->
        <!--                                                   id="email_address"-->
        <!--                                                   class="form-control"-->
        <!--                                                   name="email"-->
        <!--                                                   placeholder="Email">-->
        <!--                                        </div>-->

        <!--                                    </div>-->

        <!--                                    <div class="form-group row">-->
        <!--                                        <label for="password"-->
        <!--                                               class="col-md-4 col-form-label text-md-right">Password</label>-->
        <!--                                        <div class="col-md-6 mb-3">-->
        <!--                                            <input type="password"-->
        <!--                                                   id="password"-->
        <!--                                                   class="form-control"-->
        <!--                                                   name="password"-->
        <!--                                                   placeholder="Password">-->
        <!--                                        </div>-->

        <!--                                    </div>-->

        <!--                                    <div class="col-md-6 offset-md-6">-->
        <!--                                        <button type="submit" class="btn btn-primary" id="submit">-->
        <!--                                            Log in-->
        <!--                                        </button>-->
        <!--                                    </div>-->
        <!--                                </form>-->
        <!--                            </div>-->

        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->

    </section>

</main>

<!--======= Footer =======-->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->

<!-- Vendor JS Files -->
<script src="../toDelete/assets/vendor/aos/aos.js"></script>
<script src="../toDelete/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../toDelete/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../toDelete/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../toDelete/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../toDelete/assets/js/main.js"></script>
<!--<script src="/js/registration.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

</body>
</html>