<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->
<main>
    <section id="register">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <form id="my-form" name="form"
                                  th:action="@{/users/register}"
                                  th:method="POST"
                                  th:object="${userModel}">
                                <div class="form-group row">
                                    <label for="first-name" class="col-md-4 col-form-label text-md-right">First
                                        Name<span class="required">*</span></label>
                                    <div class="col-md-6 mb-3">
                                        <input type="text"
                                               required
                                               th:field="*{firstName}"
                                               id="first-name"
                                               class="form-control"
                                               name="first-name"
                                               placeholder="First Name">
                                    </div>
                                    <div class="col-auto">
                                        <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                               id="first-nameError"
                                               class="text-light form-text bg-danger rounded">Username length must be
                                            more than 3
                                            characters</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="last-name" class="col-md-4 col-form-label text-md-right">Last
                                        Name<span class="required">*</span></label>
                                    <div class="col-md-6 mb-3">
                                        <input type="text"
                                               required
                                               th:field="*{lastName}"
                                               id="last-name"
                                               class="form-control"
                                               name="last-name"
                                               placeholder="Last Name">
                                    </div>
                                    <div class="col-auto">
                                        <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                               id="last-nameError"
                                               class="text-light form-text bg-danger rounded">Username length must be
                                            more than 3
                                            characters</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pet-name" class="col-md-4 col-form-label text-md-right">Pet Name<span
                                            class="required">*</span></label>
                                    <div class="col-md-6 mb-3">
                                        <input type="text"
                                               required
                                               th:field="*{petName}"
                                               id="pet-name"
                                               class="form-control"
                                               name="pet-name"
                                               placeholder="Pet Name">
                                    </div>
                                    <div class="col-auto">
                                        <small th:if="${#fields.hasErrors('petName')}" th:errors="*{petName}"
                                               id="pet-nameError"
                                               class="text-light form-text bg-danger rounded">Pet name length must be
                                            more than 3
                                            characters</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pet-kg" class="col-md-4 col-form-label text-md-right">Pet kilograms
                                        <p class="reg-info"><small style="font-size: 10px">(You can update later in
                                            profile)</small></p></label>
                                    <div class="col-md-6 mb-3">
                                        <input type="number"
                                               th:field="*{petKilograms}"
                                               id="pet-kg"
                                               class="form-control"
                                               name="pet-kg"
                                               placeholder="Pet kg">
                                    </div>
                                    <div class="col-auto">
                                        <small th:if="${#fields.hasErrors('petKilograms')}" th:errors="*{petKilograms}"
                                               id="pet-kgError"
                                               class="text-light form-text bg-danger rounded">Pet kg must be positive number</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="phone" class="col-md-4 col-form-label text-md-right">Phone
                                        Number<span class="required">*</span>
                                        <p><small>(format: 0884444333)</small></p></label>
                                    <div class="col-md-6 mb-3">
                                        <input type="tel"
                                               required
                                               th:field="*{phoneNumber}"
                                               id="phone"
                                               class="form-control"
                                               name="phone"
                                               placeholder="Phone number"
                                               pattern="^0\d{9}$"/>
                                    </div>
                                    <div class="col-auto">
                                        <small th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                               id="phoneError"
                                               class="text-light form-text bg-danger rounded">Username length must be
                                            more than 3
                                            characters</small>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail
                                        Address<span class="required">*</span><p><small>(format: john@yahoo.com)</small></p></label>
                                    <div class="col-md-6 mb-3">
                                        <input type="email"
                                               required
                                               th:field="*{email}"
                                               id="email_address"
                                               class="form-control"
                                               name="email-address"
                                               placeholder="Email">
                                    </div>
                                    <div class="col-auto">
                                        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                               id="email_addressError"
                                               class="text-light form-text bg-danger rounded">Username length must be
                                            more than 3
                                            characters</small>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password<span
                                            class="required">*</span></label>
                                    <div class="col-md-6 mb-3">
                                        <input type="password"
                                               required
                                               th:field="*{password}"
                                               id="password"
                                               class="form-control"
                                               name="password"
                                               placeholder="Password"
                                        >
                                    </div>
                                    <div class="col-auto">
                                        <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                               id="passwordError"
                                               class="text-light form-text bg-danger rounded">Username length must be
                                            more than 3
                                            characters</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="confirm-password" class="col-md-4 col-form-label text-md-right">Confirm
                                        Password<span class="required">*</span></label>
                                    <div class="col-md-6 mb-3">
                                        <input type="password"
                                               required
                                               th:field="*{confirmPassword}"
                                               id="confirm-password"
                                               class="form-control"
                                               name="confirm-password"
                                               placeholder="Confirm Password"
                                        >
                                    </div>
                                    <div class="col-auto">
                                        <small th:if="${#fields.hasErrors('confirmPassword')}"
                                               th:errors="*{confirmPassword}"
                                               id="confirm-passwordError"
                                               class="text-light form-text bg-danger rounded">Username length must be
                                            more than 3
                                            characters</small>
                                    </div>
                                </div>

                                <div class="col-md-6 offset-md-6">
                                    <button type="submit" class="btn btn-primary" id="submit">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<!--======= Footer =======-->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->


</body>
</html>