<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Day Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="index.html">Title</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#welcome">Home</a></li>
                    <li><a class="nav-link scrollto" href="#search">Search</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>

                    <li><a href="#" data-toggle="modal" data-target="#at-signup"><span>Register</span></a></li>
                    <li class="dropdown"><a href="#"><span>Douglas McGee</span><img
                                class="img-profile rounded-circle col-lg-1" src="undraw_profile_1.svg"> <i
                                class="bi bi-chevron-down"></i></a>
                        <!-- <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span> -->
                        <!-- <img class="img-profile rounded-circle" src="undraw_profile_1.svg"> -->
                        <ul>
                            <li><a href="register-login.html">sign out</a></li>
                        </ul>
                    </li>

                    <li><a href="#" data-toggle="modal" data-target="#at-login"><span>Log in</span></a>
                    <li><a class="nav-link scrollto" href="#post-property">Post a property</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->



    <main id="main">

        <section>
            <div class="justify-content-center">
                <div class="container">
                    <form class="d-sm-flex form-horizontal" role="form">
                        <h5>Sort By</h5>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="PHP">
                                Price
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="Java">
                                Name
                            </label>
                        </div>
                    </form>
                </div>

                <div class="bg-white p-2 border" id="hotels">
                    <div class="hotel py-2 px-2 pb-4 border-bottom">
                        <div class="row">
                            <div class="col-lg-3"> <img
                                    src="https://images.unsplash.com/photo-1580835845971-a393b73bf370?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
                                    height="100" width="100" alt="" class="hotel-img"> </div>
                            <div class="col-lg-9">
                                <div class="d-md-flex align-items-md-center">
                                    <div class="name">Mayflower Hibiscus Inn <span class="city">Bandra,
                                            Mumbai</span> </div>
                                </div>
                                <div class="rating"> <span class="fas fa-star"></span> <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                        class="far fa-star"></span>
                                    <!-- Book now -->
                                </div>
                                <div class="d-flex flex-column tags pt-1">
                                    <div><span class="fas fa-comment-dollar"></span> Fee Canellation</div>
                                    <div><span class="fas fa-receipt"></span> Express check-in</div>
                                    <div><span class="fas fa-concierge-bell"></span> Concierge</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-1">
                            <div class="btn btn-primary text-uppercase">Book Now</div>
                        </div>
                    </div>
                    <div class="hotel py-2 px-2 pb-4 border-bottom">
                        <div class="row">
                            <div class="col-lg-3"> <img
                                    src="https://images.unsplash.com/photo-1596618502142-d2a9d0c1fc2e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTd8fHJlc29ydHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                                    height="100" width="100" alt="" class="hotel-img"> </div>
                            <div class="col-lg-9">
                                <div class="d-md-flex align-items-md-center">
                                    <div class="name">Sunflower Hibiscus Inn <span class="city">Zuhu,
                                            Mumbai</span> </div>
                                </div>
                                <div class="rating"> <span class="fas fa-star"></span> <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                        class="far fa-star"></span>
                                    <!-- Book now  -->
                                </div>
                                <div class="d-flex flex-column tags pt-1">
                                    <div><span class="fas fa-comment-dollar"></span> Fee Canellation</div>
                                    <div><span class="fas fa-receipt"></span> Express check-in</div>
                                    <div><span class="fas fa-concierge-bell"></span> Concierge</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-1">
                            <div class="btn btn-primary text-uppercase">Book Now</div>
                        </div>
                    </div>
                    <div class="hotel py-2 px-2 pb-4">
                        <div class="row">
                            <div class="col-lg-3"> <img
                                    src="https://images.unsplash.com/photo-1583037189850-1921ae7c6c22?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NzV8fHJlc29ydHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                                    height="100" width="100" alt="" class="hotel-img"> </div>
                            <div class="col-lg-9">
                                <div class="d-md-flex align-items-md-center">
                                    <div class="name">Atlantic Inn <span class="city">Mulund West, Mumbai</span>
                                    </div>
                                </div>
                                <div class="rating"> <span class="fas fa-star"></span> <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                        class="far fa-star"></span>
                                    <!-- Book now  -->
                                </div>
                                <div class="d-flex flex-column tags pt-1">
                                    <div><span class="fas fa-comment-dollar"></span> Fee Canellation</div>
                                    <div><span class="fas fa-receipt"></span> Express check-in</div>
                                    <div><span class="fas fa-concierge-bell"></span> Concierge</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-1">
                            <div class="btn btn-primary text-uppercase">Book Now</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>Title</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, omnis? <br>
                                Lorem, ipsum dolor.<br><br>
                                <strong>Phone:</strong> +1 5589 55488 55<br>
                                <strong>Email:</strong> info@example.com<br>
                            </p>

                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Day</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
    <script src="custom-script.js"></script>

</body>

</html>