<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="">

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://unpkg.com/popper.js@1.16.1-lts/dist/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body>

<main id="main">

    <section>
        <div class="row justify-content-center">

            <div class="col-xl-8 col-lg-7">
                <div class="x_content">

                    <!--  RESERVATION -->
                    <form class="" th:action="@{/save}" th:method="POST" th:object="${bindingModel}">
                        <div class="title border-bottom h2" id="title">
                            <div class="card-header">
                                <p>Make your reservation</p>
                            </div>
                        </div>
                        <!--WORKING!!!!!!!!!!!!!!!!!!!!!-->
                        <!--                        TODO: Add required on fields-->
                        <div class="row">
                            <div class="col">
                                <div class="card-header card-header dynamic-update-rows">
                                    Room Type and price per night per person
                                    <button type="button" name="addRoom"
                                            class="btn btn-sm btn-success float-right"
                                            data-dynamic-update-rows-url="/addRoom">
                                        Add
                                    </button>
                                </div>
                                <table class="table dynamic-update-rows">
                                    <tbody id="dynamicTableContents">

                                    <tr th:fragment="rooms">


                                        <!--                                        th:each="rowStat : ${bindingModel.rooms}">-->
<!--                                        <td th:text="${rowStat.count}"></td>-->
<!--                                        <td>-->
<!--&lt;!&ndash;                                            <input type="hidden"&ndash;&gt;-->
<!--&lt;!&ndash;                                                   th:field="${bindingModel.rooms[__${rowStat.index}__].id}">&ndash;&gt;-->
                                            <select class="form-control form-control-sm">
                                                <option value="">- Select room type -</option>
                                                <option th:each="room : ${viewModels.rooms}"
                                                        th:text="${room.type}"
                                                        th:value="${room.id}">
                                                </option>
                                            </select>
<!--                                        </td>-->
                                        <td>
<!--                                            <input class="form-control" type="number" min="1" max="10"-->
<!--                                                   th:field="${bindingModel.rooms[__${rowStat.index}__].numberOfRooms}"/>-->
<!--                                            <input th:value="${rowStat.index}" type="hidden" name="index">-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="label-align">Number of people <span
                                        class="required">*</span></label>
                                <label for="people"></label><input th:field="*{numberOfPeople}" type="number" min="1" max="10" id="people"
                                                                   class="form-control"/>
                                <div class="col-auto">
                                    <small th:if="${#fields.hasErrors('numberOfPeople')}"
                                           th:errors="*{numberOfPeople}"
                                           id="people-Error"
                                           class="text-light form-text bg-danger rounded">xxx</small>
                                </div>

                            </div>

                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <button type='submit' class="btn btn-primary">Submit</button>
                                        <button type='reset' class="btn btn-success">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>

<script>
    const input = $("input:reset");
</script>

<script src="/js/booking-form.js"></script>

</body>

</html>



<!--<!DOCTYPE html >-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="">-->


<!--&lt;!&ndash;<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>&ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"></script>-->
<!--<script src="https://unpkg.com/popper.js@1.16.1-lts/dist/umd/popper.min.js"></script>-->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->


<!--<body>-->

<!--<main id="main">-->

<!--    <section>-->
<!--        <div class="row justify-content-center">-->

<!--            <div class="col-xl-8 col-lg-7">-->
<!--                <div class="x_content">-->

<!--                    &lt;!&ndash;  RESERVATION &ndash;&gt;-->
<!--                    <form class="" th:action="@{/save}" th:method="POST" th:object="${bindingModel}">-->
<!--                        <div class="title border-bottom h2" id="title">-->
<!--                            <div class="card-header">-->
<!--                                <p>Make your reservation</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;WORKING!!!!!!!!!!!!!!!!!!!!!&ndash;&gt;-->
<!--                        &lt;!&ndash;                        TODO: Add required on fields&ndash;&gt;-->
<!--                        <div class="row">-->
<!--                            <div class="col">-->
<!--                                <div class="card-header card-header dynamic-update-rows">-->
<!--                                    Room Type and price per night per person-->
<!--                                    <button type="button" name="addRoom"-->
<!--                                            class="btn btn-sm btn-success float-right"-->
<!--                                            data-dynamic-update-rows-url="/addRoom">-->
<!--                                        Add-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <table class="table dynamic-update-rows">-->
<!--                                    <tbody id="dynamicTableContents">-->

<!--                                    <tr th:fragment="rooms"-->
<!--                                        th:each="booking, rowStat : ${bindingModel.rooms}">-->
<!--&lt;!&ndash;                                        <td th:text="${rowStat.count}"></td>&ndash;&gt;-->
<!--                                        <td>-->
<!--                                            <input type="hidden"-->
<!--                                                   id="id"-->
<!--                                                   name="text">-->
<!--&lt;!&ndash;                                                   th:field="${bindingModel.rooms[__${rowStat.index}__].id}">&ndash;&gt;-->
<!--                                            <label>-->
<!--                                                <select class="form-control form-control-sm">-->
<!--    &lt;!&ndash;                                                    &ndash;&gt;-->
<!--    &lt;!&ndash;                                                    th:name="${bindingModel.rooms[__${rowStat.index}__].type}"&ndash;&gt;-->
<!--    &lt;!&ndash;                                                    th:field="${bindingModel.rooms[__${rowStat.index}__].type}">&ndash;&gt;-->

<!--                                                    <option value="">- Select room type -</option>-->
<!--                                                    <option th:each="room : ${viewModels.rooms}"-->
<!--                                                            th:text="${room.type}"-->
<!--                                                            th:value="${room.type}">-->
<!--                                                    </option>-->
<!--                                                </select>-->
<!--                                            </label>-->
<!--                                        </td>-->
<!--                                        <td>-->
<!--                                            <input class="form-control" type="number" min="1" max="10"-->
<!--                                                   name="number">-->
<!--&lt;!&ndash;                                                   th:field="${bindingModel.rooms[__${rowStat.index}__].numberOfRooms}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <input th:value="${rowStat.index}" type="hidden" name="index">&ndash;&gt;-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="col">-->
<!--                                <label class="label-align">Number of people <span-->
<!--                                        class="required">*</span></label>-->
<!--                                <input th:field="*{numberOfPeople}" type="number" min="1" max="10" id="people"-->
<!--                                       class="form-control"/>-->
<!--                                <div class="col-auto">-->
<!--                                    <small th:if="${#fields.hasErrors('numberOfPeople')}"-->
<!--                                           th:errors="*{numberOfPeople}"-->
<!--                                           id="people-Error"-->
<!--                                           class="text-light form-text bg-danger rounded">xxx</small>-->
<!--                                </div>-->

<!--                            </div>-->

<!--                            <div class="ln_solid">-->
<!--                                <div class="form-group">-->
<!--                                    <div class="col-md-6 offset-md-3">-->
<!--                                        <button type='submit' class="btn btn-primary">Submit</button>-->
<!--                                        <button type='reset' class="btn btn-success">Reset</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--</main>-->
<!--&lt;!&ndash; End #main &ndash;&gt;-->

<!--<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i-->
<!--        class="bi bi-arrow-up-short"></i></a>-->
<!--<div id="preloader"></div>-->

<!--<script>-->
<!--    const input = $("input:reset");-->
<!--</script>-->

<!--<script src="/js/booking-form.js"></script>-->

<!--</body>-->

<!--</html>-->