<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.16.1-lts/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>

<main>


    <!-- HIDDEN DYNAMIC ELEMENT TO CLONE -->
    <!-- you can replace it with any other elements -->

    <div class="form-group dynamic-element" style="display:none">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <select id="roomType" name="roomType" class="form-control">
                    <option value="">- Select room type -</option>
                    <option th:each="room : ${viewModel.rooms}" th:object="${bindingModel}"
                            th:text="|${room.type} - ${room.price}|"
                            th:value="${room.id}">
                </select>
            </div>

            <div class="col-md-4">

                <select id="numberOfRooms" name="numberOfRooms" class="form-control">
                    <!--                            th:name="${bindingModel.rooms[__${rowStat.index}__].numberOfRooms}"-->
                    <!--                            th:field="${bindingModel.rooms[__${rowStat.index}__].numberOfRooms}"-->
                    <!--                            class="form-control">-->
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <!-- End of fields-->
            <div class="col-md-1">
                <p class="delete">x</p>
            </div>
        </div>
    </div>

    <!-- END OF HIDDEN ELEMENT -->


    <div class="form-container">

        <fieldset>
            <!-- Form Name -->
            <legend class="title">Select Room Type</legend>

            <form th:action="@{/check-availability}" th:method="GET">
                <div>
                    <input name="hotelId" id="hotelId" th:value="${viewModel.id}" type="hidden"/>
                </div>
                <label class="label-align">Number of people <span
                        class="required">*</span></label>
                <input name="numberOfPeople" id="numberOfPeople" type="number" min="1" max="10"
                       class="form-control"/>
                <small id="numberError" class="invalid-feedback">xxx</small>
                <div class="row">
                    <div class="col">
                        <span class="form-label">Check In</span>
                        <input name="checkIn" id="checkIn" class="form-control" type="date">
                        <div class="col-auto">
                            <small id="checkInError"
                                   class="invalid-feedback text-light form-text bg-danger rounded">xxx</small>
                        </div>
                    </div>
                    <div class="col">
                        <span class="form-label">Check out</span>
                        <input name="checkOut" id="checkOut" class="form-control" type="date">
                        <div class="col-auto">
                            <small id="checkOutError" class="invalid-feedback text-light form-text bg-danger rounded">xxx</small>
                        </div>
                    </div>
                </div>
                <div class="dynamic-stuff">

                    <!-- Dynamic element will be cloned here -->
                    <!-- You can call clone function once if you want it to show it a first element-->
                </div>


                <!-- Button -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="add-one">+ Add Room</p>
                        </div>
                        <div class="col-md-5"></div>
                        <div class="col-md-6">
                            <button id="checkAvailability" type='submit' class="btn btn-primary">Check availability
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>


    </div>
</main>

<style>
    .form-container {
        padding: 10px;
        padding-bottom: 25px;
        margin: 0 auto;
        margin-top: 20px;
        width: 50%;
        border-radius: 20px;
        background-color: #ececec;
    }

    .add-one {
        color: green;
        text-align: center;
        font-weigth: bolder;
        cursor: pointer;
        margin-top: 10px;
    }

    .delete {
        color: white;
        background-color: rgb(231, 76, 60);
        text-align: center;
        margin-top: 6px;
        font-weight: 700;
        border-radius: 5px;
        min-width: 20px;
        cursor: pointer;
    }

    #singlebutton {
        width: 100%;
        margin-top: 20px;
    }

    .title {
        text-align: center;
        font-size: 40px;
        margin-bottom: 40px;
    }

    .dynamic-element {
        margin-bottom: 0px;
    }
</style>
<script src="/static/js/booking-form2.js"></script>

<!--<script>-->
<!--    //Clone the hidden element and shows it-->
<!--    $('.add-one').click(function () {-->
<!--        $('.dynamic-element').first().clone().appendTo('.dynamic-stuff').show();-->
<!--        attach_delete();-->
<!--    });-->


<!--    //Attach functionality to delete buttons-->
<!--    function attach_delete() {-->
<!--        $('.delete').off();-->
<!--        $('.delete').click(function () {-->
<!--            console.log("click");-->
<!--            $(this).closest('.form-group').remove();-->
<!--        });-->
<!--    }-->
<!--</script>-->
</body>
</html>