<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="" th:action="@{/hotel/save}" th:method="POST" th:object="${form}">
    <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
        <table class="table">
            <thead>
            <tr>
                <th> Title</th>
                <th> Author</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r, rowStat : ${form.rooms}">
                <td><input th:placeholder="Title " th:field="${form.rooms[__${rowStat.index}__].price}" required/></td>
                <td><input th:placeholder="Author " th:field="${form.rooms[__${rowStat.index}__].numberOfRooms}" required/></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>
</form>

</body>
</html>