<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>
<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->
<main>
    <section>
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-7">
                <div class="x_content">
                    <div class="hotel py-2 px-2 pb-4 border-bottom">

                        <!--    TODO: Add required on fields- -->
                        <form
                                th:object="${updateViewModel}"
                                th:action="@{/bookings/update/{id}(id=*{bookingId})}"
                                th:method="PATCH">
                            <div class="row">
                                <div class="col">
                                    <div class="title border-bottom h2" id="title">
                                        <div class="card-header">
                                            <p>Update your booking:</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <label class="label-align">First Name<span
                                                    class="required">*</span></label>
                                            <input th:field="*{firstName}" type="text" class="form-control" name="name"
                                                   placeholder="ex. John ..."
                                            />
                                            <input class="form-control" type="hidden" id="bookingId" name="bookingId" th:value="*{bookingId}">

                                            <div class="col-auto">
                                                <small th:if="${#fields.hasErrors('firstName')}"
                                                       th:errors="*{firstName}"
                                                       id="first-nameError"
                                                       class="text-light form-text bg-danger rounded">xxx</small>
                                            </div>
                                        </div>


                                        <div class="col">
                                            <label class="label-align">Last Name<span
                                                    class="required">*</span></label>
                                            <input th:field="*{lastName}" class="form-control" name="name"
                                                   placeholder="ex. Doe..."
                                            />
                                            <div class="col-auto">
                                                <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                                       id="last-nameError"
                                                       class="text-light form-text bg-danger rounded">xxx</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label class="label-align">Pet Name<span
                                                    class="required">*</span></label>
                                            <input th:field="*{petName}" class="form-control" name="name"
                                                   placeholder="ex. Lassie ..."
                                            />
                                            <div class="col-auto">
                                                <small th:if="${#fields.hasErrors('petName')}" th:errors="*{petName}"
                                                       class="text-light form-text bg-danger rounded">xxx</small>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="label-align">Kilograms<span
                                                    class="required">*</span></label>
                                            <input th:field="*{petKilograms}" class="form-control" name="name"
                                                   placeholder="ex. 45kg ..."
                                            />
                                            <div class="col-auto">
                                                <small th:if="${#fields.hasErrors('petKilograms')}"
                                                       th:errors="*{petKilograms}"
                                                       class="text-light form-text bg-danger rounded">xxx</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <label class="label-align">email<span
                                                    class="required">*</span></label>
                                            <input th:field="*{email}" class="form-control" type="email"
                                            />
                                            <div class="col-auto">
                                                <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                                       id="email-Error"
                                                       class="text-light form-text bg-danger rounded">xxx</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label class="label-align">Comments</label>
                                        <div class="col-md-6 col-sm-6">
                                            <textarea th:field="*{comments}" class="form-control" rows="4"></textarea>

                                        </div>

                                    </div>
                                    <div class="ln_solid">
                                        <div class="form-group">
                                            <div class="col-md-6 offset-md-3">
                                                <button type='submit' class="btn btn-primary">Update</button>
                                                <button type='reset' class="btn btn-success">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
<!--End #main-->
<script>
    const input = $("input:reset");

    $('body').on('click', '.delete-btn', function () {
        if (confirm('Are you sure you want to delete the selected booking?')) {
            let bookingId = $("#bookingId");
            console.log("Booking id to delete is " + bookingId);

            fetch('http://localhost:8080/delete/' + bookingId, {
                method: 'DELETE'
            }).then(_ => reloadBookings())
            console.log('deleted');
        } else {
            console.log('Thing was not deleted from the database.');
        }
    })
</script>

<!--======= Footer =======-->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->
</body>
</html>