<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"-->
<!--        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="-->
<!--        crossorigin="anonymous"></script>-->
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->

<main>
    <section class="all">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <div class="card-header fw-bold">
                    View All Active Bookings
                </div>

                <div >
                    <div class="table-responsive-sm">
                        <table id="tableItems"
                               class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Hotel</th>
                                <th scope="col">City</th>
                                <th scope="col">Check In</th>
                                <th scope="col">Check Out</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody id="table-container"></tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<!--======= Footer =======-->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->
<script src="js/view-all.js"></script>
</body>
</html>