<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/navbar::navbar"></header>
<!-- End Header -->


<main id="main">
    <section>
        <div class="wrapper col-12">
            <div class="mb-5 p-1 fw-light d-flex justify-content-center">
                <h2>
                    Add photos and save notes from your trips!
                </h2>
            </div>

            <div class="add-content-wrapper">
                <form
                        th:object="${photosBindingModel}"
                        th:action="@{/album/upload/user/{id}(id=${session.currentUserId})}"
                        th:method="POST"
                        enctype="multipart/form-data">
                    <!--                    Note: multiple th:each="photoBindingModel, rowStat : *{photos}" didn't work-->
                    <div class="table-responsive-sm">
                        <table>
                            <tr>
                                <td class="text-end f-w-600"><label for="picture">Add an image: </label></td>
                                <td>
                                    <input th:errorclass="is-invalid"
                                           th:field="*{file}"
                                           class="form-control image"
                                           type="file"
                                           name="file"
                                           id="picture"/>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <small th:if="${#fields.hasErrors('*{file}')}"
                                           th:errors="*{file}"
                                           class="text-light form-text bg-danger rounded">
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-end f-w-600"><label for="name">Image title: </label></td>
                                <td>
                                    <input
                                            th:errorclass="is-invalid"
                                            th:field="*{title}"
                                            class="form-control"
                                            placeholder="Image title..."
                                            type="text"
                                            name="title"
                                            required
                                            minlength="2" maxlength="20"
                                            id="name"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <small th:if="${#fields.hasErrors('*{title}')}"
                                           th:errors="*{title}"
                                           class="text-light form-text bg-danger rounded">
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-end f-w-600"><label for="notes">Notes: </label></td>
                                <td><textarea th:field="*{notes}" class="form-control" rows="3" id="notes"></textarea>
                                </td>
                            </tr>
                            <tr class="space">
                                <td></td>
                                <td class="text-center">
                                    <button type='submit' class="btn btn-primary save-image">Save</button>
                                </td>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main>

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer::footer"></footer>
<!-- End Footer -->

</body>
</html>